h1 {
    color: teal;
    font-family: Monaco, serif;
}

h3  {
    color: navy;
}

h4 {
    color: maroon;
}

a {
    text-decoration: none;
    color: orange;
}

p {
    font-family:"courier new"
}

li {
    font-family:"courier new"
}
